<div id="ticket">
  <header>
    <h1 class="title is-1 has-text-centered"><%= @project.name %></h1>
  </header>

  <header>
    <h2 class="title is-2"><%= @ticket.name %></h2>

    <div class="actions">
      <% if policy(@ticket).update? %>
        <%= link_to "Edit Ticket", [:edit, @project, @ticket],
            class: "button is-primary is-rounded" %>
      <% end %>
      <%= link_to "Delete Ticket", [@project, @ticket], method: :delete,
          data: { confirm: "Are you sure you want to delete this ticket?" },
          class: "button is-primary is-rounded" %>
    </div>
  </header>
  
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>User</th>             
        <th>Description</th>      
        <th>Created</th>      
      </tr>  
    </thead>  
    <tbody>
      <tr>
        <td><%= @ticket.user.email %></td>
        <td><%= @ticket.description %></td>
        <td><%= time_ago_in_words(@ticket.created_at) %> ago</td>
      </tr>
    </body>
  </table>  