<% title(@project.name, "Projects") %>

<header>
  <h1 class="title"><%= @project.name %></h1>

    <div class="actions"> 
      <% if policy(@project).update? %>     
        <%= link_to icon("fas", "edit", "Edit Project"),        
            edit_project_path(@project),
            class: "button is-info is-rounded" %>  
      <% end %>

      <% admins_only do %>
        <%= link_to icon("fas", "trash", "Delete Project"),
            admin_project_path(@project),
            method: :delete,
            data: { confirm: "Are you sure you want to delete this project?" },
            class: "button is-danger is-rounded" %>
      <% end %>
    </div>
</header>

<header>
  <h2 class="title">Tickets</h2>

  <div class="actions">
    <%= link_to icon("fas", "plus", "New Ticket"),
        new_project_ticket_path(@project), class: "button is-primary is-rounded" %>      
  </div>
</header>

<div id="tickets">
  <% @project.tickets.each do |ticket| %>
    <li>
      #<%= ticket.id %> -
      <%= link_to ticket.name, [@project, ticket] %>
    </li>
  <% end %>
</div>