<header>
  <h1 class="title"><%= @user %></h1>
  
    <div class="actions">
      <%= link_to icon("fas", "edit-user", "Edit User"),
          [:edit, :admin, @user], class: "button is-primary is-rounded" %>  
    </div>

    <div class="actions">
      <%= link_to icon("fas", "file", "Archive User"),
          [:archive, :admin, @user], method: :patch, class: "button is-primary is-rounded" %>  
    </div>
</header>

<header>
  <h2 class="title">Roles</h2>    
</header>

<% if @user.roles.any? %>
  <ul>
    <% @user.roles.each do |role| %>
      <li><%= role.project.name %>: <%= role.role.titleize %></li>
    <% end %>
  </ul>
<% else %>
  <p>This user has no roles.</p>
<% end %>